<h2>映画詳細</h2>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>公開年</th>
            <th>概要</th>
            <th>画像URL</th>
            <th>上映中</th>
            <th>作成日時</th>
            <th>更新日時</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @movie.id %></td>
            <td><%= @movie.name %></td>
            <td><%= @movie.year %></td>
            <td><%= @movie.description %></td>
            <td><%= @movie.image_url %></td>
            <td><%= @movie.is_showing %></td>
            <td><%= @movie.created_at %></td>
            <td><%= @movie.updated_at %></td>
        </tr>
    </tbody>
</table>

<h2>スケジュール</h2>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Movie ID</th>
            <th>start time</th>
            <th>end time</th>
        </tr>
    </thead>
    <tbody>
        <% @schedules.each do |schedule| %>
            <tr>
                <td><%= schedule.id %></td>
                <td><%= schedule.movie_id %></td>
                <td><%= schedule.start_time %></td>
                <td><%= schedule.end_time %></td>
                <% @array << [schedule.start_time, schedule.id] %>
                <% @array2 << schedule.start_time %>
            </tr>
        <% end %>
    </tbody>
</table>

<h2>予約フォーム</h2>
<%= form_with url: "/movies/#{@movie.id}/reservation", method: :get do |form| %>
    <%= form.select :date, @array2, include_blank: "選択して下さい" %>
    <%= form.select :schedule_id, @array, include_blank: "選択して下さい" %>
    <%= form.button "座席を予約する" %>
<% end %>
