<h2>座席予約フォーム</h2>
<span>Login user : <%= current_user.name %></span>
<%= form_with model: @reservation,
    url: "/reservations/" do |form| %>

    <%= form.hidden_field :movie_id, value: params[:movie_id] %>
    <%= form.hidden_field :schedule_id, value: params[:schedule_id] %>
    <%= form.hidden_field :sheet_id, value: params[:sheet_id] %>
    <%= form.hidden_field :date, value: params[:date] %>
    <%= form.hidden_field :name, value: current_user.name %>
    <%= form.hidden_field :email, value: current_user.email %>
    <div>
        <%= form.submit %>
    </div>
<% end %>