<h2>座席予約フォーム</h2>
<%= form_with model: @reservation,
    url: "/reservations/" do |form| %>

    <%= form.hidden_field :movie_id, value: params[:movie_id] %>
    <%= form.hidden_field :schedule_id, value: params[:schedule_id] %>
    <%= form.hidden_field :sheet_id, value: params[:sheet_id] %>
    <%= form.hidden_field :date, value: params[:date] %>
    <div>
        <%= form.label :name, "予約者氏名" %><br>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :name, "予約者メールアドレス" %><br>
        <%= form.text_field :email %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>